body{
  margin: 0%;
  font-family: Helvetica;
}

/* HEADER */
header{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderContent{
width: 960px;
display: flex;
flex-direction: row;
margin-top: 0.66rem;
margin-bottom: 0.66rem;
}

.HeaderContent p{
color: white;
display: flex;
justify-content: center;
align-items: center;
}

.HeaderContent img{
height: 1.5rem;
margin-left: 0.5rem;
margin-right: 1rem;
}
/* HEADER */

/* BANNER */
.banner {
    background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25em;
    display: flex;
    flex-direction: column;
}

.box{
  background-color: black;
  color: white;
  margin-left: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25rem;
  margin-top: 9rem;
}

.BannerContent{
  margin: 2rem 3rem;
}

.BannerContent p{
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
}

.BannerContent h1{
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
}
/* BANNER */

/* NAV */
.nav{
  background-color: firebrick;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.navp{
  width: 960px;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-between;
}
/* NAV */

/* CONTENT */

.content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.items{
  display: flex;
  margin-top: 3rem;
  width: 960px;
  justify-content: space-between;
  margin-bottom: 0rem;
}

.pen{
  border: 4px solid black;
  width: 27%;
  text-align: center;
  height: 96%;
}

.pen img{
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.pen p{
background-color: black;
color: white;
padding-top: 1em;
padding-bottom: 1em;
}

.watch{
  border: 4px solid black;
  width: 27%;
  text-align: center;
  height: 96%;
}

.watch img{
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.watch p{
background-color: black;
color: white;
padding-top: 1em;
padding-bottom: 1em;
}

.glass{
  border: 4px solid black;
  width: 27%;
  text-align: center;
  height: 96%;
}

.glass img{
  height: 6rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  width: 9rem;
}

.glass p{
background-color: black;
color: white;
padding-top: 1em;
padding-bottom: 1em;
}

.information{
  display: flex;
  margin-top: 3rem;
  width: 960px;
  margin-top: 2.5rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.location h5{
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 2rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  width: 19.5rem;
}

.hours h5{
  background-color: black;
  color: white;
  text-align: left;
  padding-left: 2rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  width: 19.5rem;
}
/* CONTENT */

/* FOOTER */
footer{
  height: 13rem;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.footer{
width: 960px;
display: flex;
align-items: center;
}
/* FOOTER */

@@media only screen and (max-width:1024px) {
.banner{
  display: hide;
}


}
